html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem / 1.5 system-ui;
}

svg {
  background: rgba(128, 128, 128, 0.1);
  border: 1rem solid rgba(128, 128, 128, 0.25);
  height: auto;
  width: 100%;
}
